body {
  text-align: center;
}

div {
  text-align: center;
  margin-left: auto;
  margin-right: auto;  
}

.progress {
  text-align: left;
  display: block; 
  width: 100px; 
  height: 10px; 
  border: 1px solid black;
}

.progress div {
  margin-left: 0;
  margin-right: 0;  
}

hr {
  width: 65%;
}

pre {
  padding: 0;
  margin: 0;
}

table {
	width: 60%;
	margin-left: auto;
  	margin-right: auto;  
	padding: 0;
	border: none;
}

tr {
	margin: 0;
	padding: 0;
	border: none;
}

td {
	vertical-align: top;
	margin: 0;
	padding: 0;
	border: none;
}

#samples {
	margin-right: 1em;
	width: 33%;
}

#pattern {
	width: 67%;
	font-size: xx-small;
}